In [1]:
import pandas as pd

In [2]:
def read_data_from_csv(src_name):
    df = pd.read_csv(src_name)
    return df

In [3]:
item_src_name = '../tianchi_fresh_comp_train_item_online.csv'
item_df = read_data_from_csv(item_src_name)

In [4]:
item_df

           item_id item_geohash  item_category
0        100014006          NaN           3064
1        100030948          NaN          10544
2        100037683          NaN          12067
3        100039010          NaN          10501
4        100040963          NaN           3960
...            ...          ...            ...
4999996  139588608          NaN          11406
4999997   13958902          NaN          10179
4999998  139591826          NaN           8561
4999999  139595801          NaN           8270
5000000  139596319          NaN           2252

[5000001 rows x 3 columns]

In [5]:
user_src_name = '../tianchi_fresh_comp_train_user_online.csv'
user_df = read_data_from_csv(user_src_name)

In [6]:
user_df

,user_id,item_id,behavior_type,user_geohash,item_category,time
0,77404236,306224045,1,NaN,9023,2014-11-24 19
1,77404236,321344925,4,NaN,3424,2014-11-25 20
2,77404236,393135256,1,NaN,11623,2014-12-06 23
3,77404236,277463747,1,NaN,451,2014-12-17 20
4,77404236,38563179,1,NaN,8432,2014-12-17 17
...,...,...,...,...,...,...
99996,78598518,242255272,1,NaN,1370,2014-12-06 13
99997,78598518,242255272,1,NaN,1370,2014-12-03 08
99998,78598518,386374279,1,NaN,11623,2014-12-16 15
99999,78598518,192057635,4,NaN,10507,2014-12-02 16
100000,78598518,336702901,3,NaN,2901,2014-12-02 11

In [8]:
user_df[['date', 'hr']] = user_df['time'].str.split(' ', expand=True)
user_df

,user_id,item_id,behavior_type,user_geohash,item_category,time,date,hr
0,77404236,306224045,1,NaN,9023,2014-11-24 19,2014-11-24,19
1,77404236,321344925,4,NaN,3424,2014-11-25 20,2014-11-25,20
2,77404236,393135256,1,NaN,11623,2014-12-06 23,2014-12-06,23
3,77404236,277463747,1,NaN,451,2014-12-17 20,2014-12-17,20
4,77404236,38563179,1,NaN,8432,2014-12-17 17,2014-12-17,17
...,...,...,...,...,...,...,...,...
99996,78598518,242255272,1,NaN,1370,2014-12-06 13,2014-12-06,13
99997,78598518,242255272,1,NaN,1370,2014-12-03 08,2014-12-03,08
99998,78598518,386374279,1,NaN,11623,2014-12-16 15,2014-12-16,15
99999,78598518,192057635,4,NaN,10507,2014-12-02 16,2014-12-02,16
100000,78598518,336702901,3,NaN,2901,2014-12-02 11,2014-12-02,11

In [9]:
user_df = user_df.drop(columns='time')

In [10]:
user_df

,user_id,item_id,behavior_type,user_geohash,item_category,date,hr
0,77404236,306224045,1,NaN,9023,2014-11-24,19
1,77404236,321344925,4,NaN,3424,2014-11-25,20
2,77404236,393135256,1,NaN,11623,2014-12-06,23
3,77404236,277463747,1,NaN,451,2014-12-17,20
4,77404236,38563179,1,NaN,8432,2014-12-17,17
...,...,...,...,...,...,...,...
99996,78598518,242255272,1,NaN,1370,2014-12-06,13
99997,78598518,242255272,1,NaN,1370,2014-12-03,08
99998,78598518,386374279,1,NaN,11623,2014-12-16,15
99999,78598518,192057635,4,NaN,10507,2014-12-02,16
100000,78598518,336702901,3,NaN,2901,2014-12-02,11